<!-- demonstration_gui_unit_test.launch -->
<launch>
    <arg name="unit_test" default="false" />
    <node name="demonstration_gui_node" pkg="programming_by_demonstration" type="demonstration_gui_application.py" output="screen">
        <param name="unit_test" value="$(arg unit_test)" />
    </node>
</launch>