<launch>
    <!-- Launch the actuator test for the Pepper robot -->
    <!-- <include file="$(find pepper_interface_tests)/launch/actuatorTestLaunchRobot.launch">
        <arg name="robot_ip" value="172.29.111.240" />
        <arg name="network_interface" value="eth0" />
    </include> -->

    <!-- Launch the skeletal_model_application.py node -->
    <node name="skeletal_model_application" pkg="skeletal_model" type="skeletal_model_application.py" output="screen" />

    <!-- Launch the robotShadowing node -->
    <!-- <node name="robotShadowing" pkg="robot_shadowing" type="robotShadowing" output="screen" /> -->

    <!-- Launch the realsense_image_publisher.py node -->
    <node name="realsense_image_publisher" pkg="skeletal_model" type="realsense_image_publisher.py" output="screen" />
</launch>
